---
layout: base.ejs
title: hyper63.com
description: A service framework for rapid application development
logo: img/hyper63-logo.png
card: /img/hyper63-card.png
text:
  tagline: 
    <span class="block xl:inline">Rapidly build web applications with</span>
    <span class="block text-yellow-600 xl:inline">hyper63</span>
  byline:
    Let your development teams focus on creating applications that solve the problems of the business, let hyper63 solve the problems of the cloud.
menu:
  hideBase: true
---
<%- include('/menu.ejs', { anchor: '#' }) %>
<main>
  <div class="py-12 bg-white">
    <div class="mx-auto max-w-7xl px-4 sm:mt-24">
      <div class="text-center">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
          <%- text.tagline %>
        </h1>
        <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
          <%= text.byline %>
        </p>
        <div class="mt-5 relative mx-auto" style="padding-top: 56.25%">
          <iframe class="absolute inset-0 w-full h-full" src="https://www.youtube-nocookie.com/embed/i-QLw7VCCMw" frameborder="0" ></iframe>
        </div>
        <!--
        <figure class="max-w-md mx-auto mt-5 hidden md:block">
          <img src="img/hyper63-config-img.svg" class="rounded-md" >
        </figure>
        -->
        <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a href="https://docs.hyper63.com" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700 md:py-4 md:text-lg md:px-10">
              Get started
            </a>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="/features" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-yellow-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
              Learn More
            </a>
          </div>
          <!--
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-yellow-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10" href="https://render.com/deploy?repo=https://github.com/twilson63/hyper63-nano-server">   
              Deploy
            </a>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
  <div id="product" class="py-12 bg-gray-50">
    <%- include /product.ejs %>
  </div>
  <div id="features" class="py-12 bg-white">
    <%- include /features.ejs %>
  </div>
  <div id="faq" class="py-12 bg-gray-50">
    <%- include /faq.ejs %>
  </div>
  <div id="about" class="py-12 bg-white">
    <%- include /about.ejs %>
  </div>
</main>
